# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Spark / Hadoop
spark-warehouse/
metastore_db/
derby.log
checkpoint/
*.crc

# Logs (proje dışı / geçici)
logs/
*.log

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
